<nav class=" bg-pink-700 p-4">
  <div class="container mx-auto flex justify-between items-center">
   
    <a href="/home" class="text-emerald-100 text-lg font-bold">Home</a>


    <div class="space-x-4">
      
      <a href="/profile" class="text-emerald-100 hover:text-emerald-300  px-3 py-2 rounded-md text-md font-medium">Profile</a>
      <button class="text-emerald-100 hover:text-emerald-300  px-3 py-2 rounded-md text-md font-medium" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>