
  <div class="relative flex text-white antialiased flex-col justify-center overflow-hidden py-6 sm:py-12 bg-gradient-to-r from-blue-200 to-purple-200 h-screen">
    <div class="relative py-3 sm:w-96 mx-auto text-center">
      <span class="text-3xl font-bold text-purple-900">Admin Login</span>
      <div class="mt-4 bg-gray-100 shadow-md rounded-lg text-left">
        <div class="h-2 bg-pink-300 rounded-t-md"></div>
        <div class="px-8 py-6">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label class="block font-semibold text-gray-600">Email</label>
            <input type="text" placeholder="Email" formControlName="email"
              class="border w-full h-10 px-3 py-2 mt-2 bg-gray-200 text-gray-500 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
            <div *ngIf="loginForm.controls['email'].errors">
              <p *ngIf="submit && loginForm.controls.email.hasError('required')" class="text-red-500">Email Required</p>
              <p *ngIf="loginForm.controls.email.hasError('email')" class="text-red-500">Invalid Email Format</p>
            </div>
            <p class="text-red-500">{{emailMessage}}</p>
            <label class="block mt-3 font-semibold text-gray-600">Password</label>
            <input type="password" placeholder="Password" formControlName="password"
              class="border w-full h-10 px-3 py-2 mt-2 bg-gray-200 text-gray-300 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
            <div *ngIf="loginForm.controls['password'].errors">
              <p *ngIf="submit && loginForm.controls.password.hasError('required')" class="text-red-500">Password Required</p>
              <p *ngIf="loginForm.controls.password.hasError('pattern')" class="text-red-500">Invalid Password Format</p>
            </div>
            <p class="text-red-500">{{passMessage}}</p>
            <div class="flex justify-center items-baseline">
              <button type="submit"
                class="mt-4 bg-indigo-400 text-white py-3 px-8 rounded-md hover:bg-blue-400">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  